[user]
	name = Milos Levacic
	email = milos@levacic.net
[color]
	ui = true
[core]
	editor = subl -w
[push]
	default = current
[gitflow "feature.finish"]
	no-ff = true
[gitflow "release.finish"]
	nobackmerge = true
[cola]
	savewindowsettings = true
